.container
    .jumbotron
        h1 Virtualcode
        p Welcome to Virtualcode! The most comprehensive and complete collection

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")